## Data Cleansing
<hr>
Welcome to the "Data Cleansing" notebook! This notebook will explore the essential techniques and strategies for cleaning and preparing data for analysis. Data cleansing, also known as data cleaning or data preprocessing, is a critical step in the data analysis workflow. It involves identifying and rectifying errors, inconsistencies, and inaccuracies in the dataset to ensure reliable and accurate analysis results.

In this notebook, we will cover the following key topics:
1. Understanding Data Quality: Learn about the significance of data quality and the potential difficulties that may be encountered. We'll look at various problems with data quality, including outliers, duplicate records, inconsistent formats, and missing values.
2. Data Exploration and Assessment: Learn how to investigate and evaluate the dataset's quality. We'll review how to spot duplicate records, find missing values, analyze data distributions, and spot potential outliers.
3. Handling Missing Data: Learn several approaches to managing missing data successfully. Based on the situation and the dataset's characteristics, we will investigate methods for dealing with missing values, such as imputation, deletion, and interpolation.
4. Dealing with Duplicate Data: Know how to spot and manage duplicate records in your dataset. Based on the criteria of your study, we will investigate ways to find duplicates and determine whether to eliminate or merge them.
5. Handling Outliers: Discovering and managing outliers, or extreme values that dramatically depart from the norm, is a skill you should develop. In this section, we'll examine methods for spotting outliers and how to decide whether to discard, modify, or treat them independently while performing analysis.

You will have a thorough understanding of the data cleansing procedure at the end of this notebook and a set of efficient procedures for cleaning and getting your data ready for analysis. Having clean, high-quality data will significantly increase the accuracy and dependability of your analytical outcomes.

So let's start and start the data cleansing process to bring forth the full potential of your dataset!

## Import the needed library and load file

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the data
filePath = 'data/cars.csv'
data = pd.read_csv(filePath)
data.head()

,Model,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
0,chevrolet chevelle malibu,18.0,8,307,130,3504,12,1970[1975],"US; Detroit, Michigan",3.47,2.68,9
1,buick skylark 320,15.0,8,350,165,3693,11.5,1970,US],3.47,2.68,?
2,plymouth satellite,18.0,?,318,150,3436,11,"1970, 1976",US,2.68,3.47,9
3,amc rebel sst,16.0,8,304,150,3433,12,1970,US,3.19,3.40,10
4,ford torino,17.0,8,302,140,3449,10.5,1970-1972,US],3.19,3.40,8

In [3]:
data.shape

(394, 12)

## Handling missing values

In [4]:
# Identify which columns have missing values
data.isnull()

,Model,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
389,False,False,False,False,False,False,False,False,False,False,False,False
390,False,False,False,False,False,False,False,False,False,False,False,False
391,False,False,False,False,False,False,False,False,False,False,False,False
392,False,False,False,False,False,False,False,False,False,False,False,False
393,False,False,False,False,False,False,False,False,False,False,False,False

In [5]:
# Get the sum of missing values for each column
data.isnull().sum()

Model                0
MPG                  9
Cylinders            0
Displacement         0
Horsepower           0
Weight               0
Acceleration         0
Year                 0
Origin               0
bore                 0
stroke               0
compression-ratio    0
dtype: int64

In [6]:
# Replace all ? with nan
data = data.replace('?', np.nan)

In [7]:
# Get the sum of missing values for each column
data.isnull().sum()

Model                0
MPG                  9
Cylinders            2
Displacement         1
Horsepower           0
Weight               1
Acceleration         1
Year                 0
Origin               0
bore                 0
stroke               0
compression-ratio    2
dtype: int64

In [8]:
# Get the missing values
data[data.isnull().any(axis=1)]

,Model,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
1,buick skylark 320,15.0,8,350,165,3693,11.5,1970,US],3.47,2.68,NaN
2,plymouth satellite,18.0,NaN,318,150,3436,11,"1970, 1976",US,2.68,3.47,9
5,ford galaxie 500,15.0,8,NaN,198,4341,10,1970,US,3.19,3.40,8.5
7,plymouth fury iii,NaN,8,440,215,4312,8.5,1970,US,3.19,3.40,8.5
12,chevrolet monte carlo,NaN,8,400,150,3761,9.5,1970,"US; Detroit, Michigan",3.31,3.19,9
20,peugeot 504,NaN,4,110,87,2672,17.5,1970,Europe,3.03,3.11,9.6
30,chevrolet vega 2300,NaN,4,140,90,2264,15.5,1971[1973]971,"US; Detroit, Michigan",2.91,3.41,9.6
40,plymouth fury iii,NaN,8,318,150,4096,13,1971[1973],US,3.15,3.58,9
50,peugeot 304,NaN,4,79,70,2074,19.5,1971,Europe,3.03,3.15,9
67,buick lesabre custom,13.0,8,350,155,4502,NaN,1972,US,3.58,3.64,21.5
70,mazda rx2 coupe,NaN,3,70,97,2330,13.5,1972,Japan,3.58,3.64,21.5
81,toyouta corona mark ii (sw),NaN,4,120,97,2506,14.5,1972,Japan; Aichi,3.35,3.46,8.5
88,dodge coronet custom,15.0,8,318,150,NaN,12.5,1973,US,3.17,3.46,7.5
91,ford ltd,NaN,8,351,158,4363,13,1973,US,3.15,3.29,9.4
100,plymouth duster,23.0,NaN,198,95,2904,16,1973,US,3.33,3.47,8.5
111,ford pinto,19.0,4,122,85,2310,18.5,1973,US,3.46,2.19,NaN

In [9]:
# Fill the missing MPG column with its mean values
data['MPG'] = data['MPG'].fillna(data['MPG'].mean())

In [10]:
# Get the sum of missing values for each column
data.isnull().sum()

Model                0
MPG                  0
Cylinders            2
Displacement         1
Horsepower           0
Weight               1
Acceleration         1
Year                 0
Origin               0
bore                 0
stroke               0
compression-ratio    2
dtype: int64

In [11]:
# Drop other all the remaining missing values
data = data.dropna()

In [12]:
# Get the missing values count
data.isnull().sum()

Model                0
MPG                  0
Cylinders            0
Displacement         0
Horsepower           0
Weight               0
Acceleration         0
Year                 0
Origin               0
bore                 0
stroke               0
compression-ratio    0
dtype: int64

In [13]:
# Drop the model column
data.drop(['Model'], axis=1, inplace=True)

In [14]:
data.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
0,18.000000,8,307,130,3504,12,1970[1975],"US; Detroit, Michigan",3.47,2.68,9
3,16.000000,8,304,150,3433,12,1970,US,3.19,3.40,10
4,17.000000,8,302,140,3449,10.5,1970-1972,US],3.19,3.40,8
6,14.000000,8,454,220,4354,9,1970[1975],"US; Detroit, Michigan",3.19,3.40,8.5
7,23.551429,8,440,215,4312,8.5,1970,US,3.19,3.40,8.5

In [15]:
# Check the data type of all features using the info
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 387 entries, 0 to 393
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MPG                387 non-null    float64
 1   Cylinders          387 non-null    object
 2   Displacement       387 non-null    object
 3   Horsepower         387 non-null    int64
 4   Weight             387 non-null    object
 5   Acceleration       387 non-null    object
 6   Year               387 non-null    object
 7   Origin             387 non-null    object
 8   bore               387 non-null    float64
 9   stroke             387 non-null    float64
 10  compression-ratio  387 non-null    object
dtypes: float64(3), int64(1), object(7)
memory usage: 36.3+ KB

In [16]:
# Above result shows that the Year is an object, in other words it is a string.
# count the records
data['Year'].str.isnumeric().value_counts()

True     351
False     36
Name: Year, dtype: int64

In [17]:
# get all the values that are string
data['Year'].loc[data['Year'].str.isnumeric()==False]

0          1970[1975]
4           1970-1972
6          1970[1975]
30      1971[1973]971
35         1971[1973]
40         1971[1973]
44         1971[1973]
49         1971[1973]
56         1972[1973]
61         1972[1973]
65         1972[1973]
68         1972[1973]
73         1972[1973]
75            1972-73
79            1972-73
82            1972-73
96          1973-1974
97         1973, 1974
102    1973, 19741973
105        1973, 1974
108        1973, 1974
112        1973, 1974
115        1973, 1974
126        1974, 1975
131        1974, 1975
134        1974, 1975
137        1974, 1975
139    1974, 19751974
142        1974, 1975
365         1982-1985
374         1982-1985
380         1982-1985
383         1982-1985
387         1982-1985
389         1982-1985
391         1982-1985
Name: Year, dtype: object

In [18]:
# Extract the the first four characters of the year.
extr = data['Year'].str[:4]

In [19]:
extr.head()

0    1970
3    1970
4    1970
6    1970
7    1970
Name: Year, dtype: object

In [20]:
# Check the string count again
data['Year'].isnull().value_counts

<bound method IndexOpsMixin.value_counts of 0      False
3      False
4      False
6      False
7      False
       ...
389    False
390    False
391    False
392    False
393    False
Name: Year, Length: 387, dtype: bool>

In [21]:
# Check if there are any string
data['Year'].isnull().values.any()

False

In [22]:
# Check the data type of the year now
data['Year'].info()

<class 'pandas.core.series.Series'>
Int64Index: 387 entries, 0 to 393
Series name: Year
Non-Null Count  Dtype
--------------  -----
387 non-null    object
dtypes: object(1)
memory usage: 6.0+ KB

In [23]:
# Convert the Year to numeric
data['Year'] = pd.to_numeric(extr)

In [24]:
# Check the data type of the year now
data['Year'].dtype

dtype('int64')

In [25]:
data.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
0,18.000000,8,307,130,3504,12,1970,"US; Detroit, Michigan",3.47,2.68,9
3,16.000000,8,304,150,3433,12,1970,US,3.19,3.40,10
4,17.000000,8,302,140,3449,10.5,1970,US],3.19,3.40,8
6,14.000000,8,454,220,4354,9,1970,"US; Detroit, Michigan",3.19,3.40,8.5
7,23.551429,8,440,215,4312,8.5,1970,US,3.19,3.40,8.5

In [26]:
# Clean up the origin
data['Origin'].head(10)

0     US; Detroit, Michigan
3                        US
4                       US]
6     US; Detroit, Michigan
7                        US
8                        US
9                       US]
10                       US
11                       US
12    US; Detroit, Michigan
Name: Origin, dtype: object

In [27]:
data['Year'].dtype

dtype('int64')

In [29]:
# Get the unique values
data['Origin'].unique()

array(['US; Detroit, Michigan', 'US', 'US]', 'Japan; Aichi',
       'Europe-Germany', 'Europe', 'Japan; Tokyo', 'Japan; Aichi]',
       'US; Detroit, Michigan]', 'Japan; Tokyo]', 'Japan',
       'Europe Germany'], dtype=object)

In [35]:
# Get the origin with US
data['Origin'] = np.where(data['Origin'].str.contains('US'), 'US', data['Origin'])
data['Origin'].unique()

array(['US', 'Japan; Aichi', 'Europe-Germany', 'Europe', 'Japan; Tokyo',
       'Japan; Aichi]', 'Japan; Tokyo]', 'Japan', 'Europe Germany'],
      dtype=object)

In [40]:
# Get the origin with Japan
data['Origin'] = np.where(data['Origin'].str.contains('Japan'), 'Japan',data['Origin'])
data['Origin'].unique()

array(['US', 'Japan', 'Europe-Germany', 'Europe', 'Europe Germany'],
      dtype=object)

In [44]:
# Get the origin with Europe
data['Origin'] = np.where(data['Origin'].str.contains('Europe'), 'Europe',data['Origin'])
data['Origin'].unique()

array(['US', 'Japan', 'Europe'], dtype=object)

In [45]:
data.head(10)

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
0,18.000000,8,307,130,3504,12,US,US,3.47,2.68,9
3,16.000000,8,304,150,3433,12,US,US,3.19,3.40,10
4,17.000000,8,302,140,3449,10.5,US,US,3.19,3.40,8
6,14.000000,8,454,220,4354,9,US,US,3.19,3.40,8.5
7,23.551429,8,440,215,4312,8.5,US,US,3.19,3.40,8.5
8,14.000000,8,455,225,4425,8.5,US,US,3.13,3.40,8.3
9,15.000000,8,390,190,3850,8.5,US,US,3.13,3.40,7
10,15.000000,8,383,170,3563,10,US,US,3.50,2.80,8.8
11,14.000000,-,340,160,3609,8,US,US,3.50,2.80,8.8
12,23.551429,8,400,150,3761,9.5,US,US,3.31,3.19,9

In [46]:
# Taking up the Cylinder column
data['Cylinders']

0      8
3      8
4      8
6      8
7      8
      ..
389    4
390    4
391    4
392    4
393    4
Name: Cylinders, Length: 387, dtype: object

In [49]:
data.dtypes

MPG                  float64
Cylinders             object
Displacement          object
Horsepower             int64
Weight                object
Acceleration          object
Year                  object
Origin                object
bore                 float64
stroke               float64
compression-ratio     object
dtype: object

In [52]:
# Cylinder columns states that it is object, so lets see why.
# Check if there are any missing cylinders
data['Cylinders'].isnull().values.any()

False

In [54]:
# Gett the number of numeric vs non numeric
data['Cylinders'].str.isnumeric().value_counts()

True     378
False      9
Name: Cylinders, dtype: int64

In [55]:
# We can see that 9 enters are not numeric. Let fix it
# Extract the non numeric enters
data[data['Cylinders'].str.isnumeric()==False]

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
11,14.0,-,340,160,3609,8,US,US,3.50,2.80,8.8
22,25.0,-,104,95,2375,17.5,Europe,Europe,2.97,3.23,9.4
32,19.0,-,232,100,2634,13,US,US,2.91,3.07,10.1
42,13.0,-,400,170,4746,12,US,US,3.15,3.58,9.1
51,30.0,-,88,76,2065,14.5,Europe,Europe,3.03,3.15,9
58,23.0,-,97,54,2254,23.5,Europe,Europe,3.08,3.15,9.4
69,13.0,-,400,190,4422,12.5,US,US,3.58,3.64,21.5
82,28.0,-,98,80,2164,15,US,US,3.58,3.86,7
89,12.0,-,429,198,4952,11.5,US,US,3.15,3.29,9.4

In [58]:
# OR
data['Cylinders'].loc[data['Cylinders'].str.isnumeric()==False]

11    -
22    -
32    -
42    -
51    -
58    -
69    -
82    -
89    -
Name: Cylinders, dtype: object

In [64]:
# Extract all the Cylinders that not are number or that are without dashes
cylinders_nor = data['Cylinders'].loc[data['Cylinders'] != '-']
cylinders_nor

0      8
3      8
4      8
6      8
7      8
      ..
389    4
390    4
391    4
392    4
393    4
Name: Cylinders, Length: 378, dtype: object

In [65]:
# Get the mean of the values
cmean = cylinders_nor.astype(int).mean()

In [66]:
cmean

5.420634920634921

In [67]:
# Replace the - with the cmean
data['Cylinders'] = data['Cylinders'].replace('-', cmean)

In [68]:
# Check the Cylinder data type
data['Cylinders'].dtype

dtype('O')

In [69]:
# Convert the Cyclinder to int
data['Cylinders'] = data['Cylinders'].astype(int)

In [70]:
data['Cylinders'].dtype

dtype('int32')

In [71]:
# View the data
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 387 entries, 0 to 393
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MPG                387 non-null    float64
 1   Cylinders          387 non-null    int32
 2   Displacement       387 non-null    object
 3   Horsepower         387 non-null    int64
 4   Weight             387 non-null    object
 5   Acceleration       387 non-null    object
 6   Year               387 non-null    object
 7   Origin             387 non-null    object
 8   bore               387 non-null    float64
 9   stroke             387 non-null    float64
 10  compression-ratio  387 non-null    object
dtypes: float64(3), int32(1), int64(1), object(6)
memory usage: 34.8+ KB

In [72]:
data.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
0,18.000000,8,307,130,3504,12,US,US,3.47,2.68,9
3,16.000000,8,304,150,3433,12,US,US,3.19,3.40,10
4,17.000000,8,302,140,3449,10.5,US,US,3.19,3.40,8
6,14.000000,8,454,220,4354,9,US,US,3.19,3.40,8.5
7,23.551429,8,440,215,4312,8.5,US,US,3.19,3.40,8.5

In [73]:
# Above we can see that the displacement is a number (Numeric), but its data type is string, so we will fix it
# Convert the Displacement column to numeric
data['Displacement'] = pd.to_numeric(data['Displacement'])

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 387 entries, 0 to 393
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MPG                387 non-null    float64
 1   Cylinders          387 non-null    int32
 2   Displacement       387 non-null    float64
 3   Horsepower         387 non-null    int64
 4   Weight             387 non-null    object
 5   Acceleration       387 non-null    object
 6   Year               387 non-null    object
 7   Origin             387 non-null    object
 8   bore               387 non-null    float64
 9   stroke             387 non-null    float64
 10  compression-ratio  387 non-null    object
dtypes: float64(4), int32(1), int64(1), object(5)
memory usage: 34.8+ KB

In [75]:
# Weight is also a numeric but showing as dtype is reporting string. Lets fix that
data['Weight'] = pd.to_numeric(data['Weight'])

In [76]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 387 entries, 0 to 393
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MPG                387 non-null    float64
 1   Cylinders          387 non-null    int32
 2   Displacement       387 non-null    float64
 3   Horsepower         387 non-null    int64
 4   Weight             387 non-null    int64
 5   Acceleration       387 non-null    object
 6   Year               387 non-null    object
 7   Origin             387 non-null    object
 8   bore               387 non-null    float64
 9   stroke             387 non-null    float64
 10  compression-ratio  387 non-null    object
dtypes: float64(4), int32(1), int64(2), object(4)
memory usage: 34.8+ KB

In [77]:
data.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
0,18.000000,8,307.0,130,3504,12,US,US,3.47,2.68,9
3,16.000000,8,304.0,150,3433,12,US,US,3.19,3.40,10
4,17.000000,8,302.0,140,3449,10.5,US,US,3.19,3.40,8
6,14.000000,8,454.0,220,4354,9,US,US,3.19,3.40,8.5
7,23.551429,8,440.0,215,4312,8.5,US,US,3.19,3.40,8.5

In [78]:
# Acceleration is also a numeric but showing as dtype is reporting string. Lets fix that
data['Acceleration'] = pd.to_numeric(data['Acceleration'])

In [79]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 387 entries, 0 to 393
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MPG                387 non-null    float64
 1   Cylinders          387 non-null    int32
 2   Displacement       387 non-null    float64
 3   Horsepower         387 non-null    int64
 4   Weight             387 non-null    int64
 5   Acceleration       387 non-null    float64
 6   Year               387 non-null    object
 7   Origin             387 non-null    object
 8   bore               387 non-null    float64
 9   stroke             387 non-null    float64
 10  compression-ratio  387 non-null    object
dtypes: float64(5), int32(1), int64(2), object(3)
memory usage: 34.8+ KB

In [86]:
# Droping certain feature for demostraction purpose
data.drop(['Year'], axis=1, inplace=True)

In [87]:
data.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Origin,bore,stroke,compression-ratio
0,18.000000,8,307.0,130,3504,12.0,US,3.47,2.68,9
3,16.000000,8,304.0,150,3433,12.0,US,3.19,3.40,10
4,17.000000,8,302.0,140,3449,10.5,US,3.19,3.40,8
6,14.000000,8,454.0,220,4354,9.0,US,3.19,3.40,8.5
7,23.551429,8,440.0,215,4312,8.5,US,3.19,3.40,8.5

In [88]:
# Check if there is any missing values
data.isnull().sum()

MPG                  0
Cylinders            0
Displacement         0
Horsepower           0
Weight               0
Acceleration         0
Origin               0
bore                 0
stroke               0
compression-ratio    0
dtype: int64

In [89]:
# Check data type
data.dtypes

MPG                  float64
Cylinders              int32
Displacement         float64
Horsepower             int64
Weight                 int64
Acceleration         float64
Origin                object
bore                 float64
stroke               float64
compression-ratio     object
dtype: object

In [90]:
# Now we are good. Save file to another files
data.to_csv('data/cars_cleaned_07052023.csv', index=False)

## THE END